.top-container {
  background-color: #caf7e3;
  padding: 25px;
  position: relative;
}
body {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
  font-family: "Merriweather Sans", sans-serif;
  font: optional;
}
h1 {
  margin-block-start: 0px;
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
  margin: 3.125rem auto 0;
  color: #66BFBF;
  line-height: 2;
}
h2 {
  font-family: "Montserrat", sans-serif;
  color: #66BFBF;
  font-size: 2.5rem;
}
h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999E;
}

.middle-container {
}
.bottom-container {
}
.pro {
  text-decoration: underline;
}
.bottom-cloud {
  position: absolute;
  left: 15.625rem;
  bottom: 9.375rem;
}

.top-cloud {
  position: absolute;
  right: 15.625rem;
  top: 9.375rem;
}
.profile-pic {
  border-radius: 6.875rem;
}
.profile {
  margin: 1rem;
}

.developer-title{
font-weight: normal;
color: #66BFBF;
margin-top: 0;

}
a{
  color: #11999E;
}
.skill-row{
  width: 50%;
  display: inline-block;
  margin: 50px auto 50px auto;
  text-align: left;
  line-height: 2;
}
